.catégorie {
  margin-top: 10rem;
}
.catégory {
  display: flex;
}

.category img {
  cursor: pointer;
}
.category :hover {
  transform: scale(1.01);
}

figure.category {
  display: inline-block;
  width: 15rem;
  height: 18rem;
  margin: 0.5rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.cardimg {
  width: 15rem;
  height: 11rem;
  margin-top: 2rem;
  border: 3px rgb(168, 164, 175) solid;
  object-fit: cover;
  box-shadow: 5px 5px 7px 5px black;
  text-align: center;
  transition: 0.7s;
}
.cardimg:hover {
  transform: scale(1.1);
}

figcaption {
  background-color: rgb(20, 214, 214);
  border-radius: 3px;
  color: rgb(2, 0, 36);
  font: italic smaller sans-serif;
  padding: 10px;
}

@media screen and(max-width: 735px) {
  figure.category {
    width: 35%;
    height: 35%;
    margin: 1.5rem;
  }
  .category.cardimg {
    width: 8rem;
    height: 6rem;

    border: 3px rgb(168, 164, 175) solid;
    object-fit: cover;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    margin: 0;
    transition: 0.5s;
  }
}
