.css-wjh20t-MuiPagination-ul {
  margin-top: 50px;
  background-color: aqua;
  border-radius: 12px;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: white;
}
