.search {
  width: 70vw;
  height: 35px;
  border-radius: 50px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  margin-left: auto;    
  margin-right: auto;
  margin-top: 5px;
}

.form-control {
    display: flex;
    justify-content: center;
}