* {
  box-sizing: border-box;
  
}

.log-reg {
 
  display: flex;
  flex-direction: column-reverse;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20%;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20%;
}

.registration label{
  color: white;
}
