.main{
    position: absolute;
}
.slick-list{
    padding-left: 1.5%;
}

button.slick-arrow.slick-prev::before{
    width: 30px;
    height: 29px;
    color: aqua;
    box-shadow: 7px 7px 7px 7px black;
}

button.slick-arrow.slick-next::before{

    color: aqua;
    box-shadow: 7px 7px 7px 7px black;
}
.slick-prev::before, .slick-next::before{
    font-size: 26px;
}
