* {
  box-sizing: border-box;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: hsla(227, 99%, 7%, 0.83);
  display: flex;
  align-items: center;
}
.close {
  color: blue;
  width: 29px;
  font-weight: bold;
}

.modal {
  z-index: 100;
  position: relative;
  background-color: hsla(227, 99%, 7%, 0.83);
  margin: auto;
  border-radius: 5px;
  max-width: 90%;
  width: 70%;
  height: 85%;
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px aqua;
  background-size: contain;
  background-repeat: no-repeat;
  /* text-align: center; */
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.flexprops {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
  /* width: 50%; */
}
.modal-date {
  color: white;
}
/* .modal-vote{
    color:white;
   
  } */

.modal-close-button {
  color: #14396a !important;
  width: 2rem;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(to top, #63b8ee, #468ccf);
  display: flex;
  justify-content: center;
}
.modal-close-button:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}

/* .modal-body{
  width: 18rem;
} */
.modal-overview {
  width: 40%;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 850px) {
  .modal {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    box-shadow: 5px 5px 35px aqua;
  }

  .flexprops {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  .modal-overview {
    width: 100%;
    height: 60%;
  }
}
