@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Orelega+One&display=swap");

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background: rgb(17, 8, 138);
  background: linear-gradient(
    0deg,
    rgb(13, 13, 13) 0%,
    rgb(37, 22, 83) 70%,
    rgba(5, 170, 225) 100%
  );
}
